################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AudioPlayer.Abstractions/obj
/src/.vs/AudioPlayer/v15/Server/sqlite3
/src/AudioPlayer.Android/obj
/src/AudioPlayer.Plugin/obj
